.info-contato {
  background-image: url(../../../public/instituto-yofi-contato.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding-top: 3em;
  padding-bottom: 3em;
  height: auto !important;
}
