.banner {
  img {
    max-width: 100%;
    height: auto;
  }
}

.info-quem-somos {
  background-color: #fff;
  background-image: url('../../../public/dente.jpg');
  background-position-x: 0;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  .button {
    text-decoration: none;
    padding: 15px;
    color: #446a49;
    border-color: #446a49;
    border-width: 3px;
    border-style: solid;
    width: 385px;
    height: auto;
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5rem;
    font-style: italic;
    font-weight: 700;
  }
  div {
    font-style: italic;
    font-size: 1.3rem;
  }
}

.info-unidades {
  background-color: #fff;
  background-image: url('../../../public/instituto-yofi.png');
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  .button {
    padding: 15px;
    color: #446a49;
    border-color: #446a49;
    border-width: 3px;
    border-style: solid;
    width: 385px;
    height: auto;
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5rem;
    font-style: italic;
    font-weight: 700;
  }
  div {
    font-style: italic;
    font-size: 1.3rem;
  }
}
