.banner {
  height: 100vh;
  background-color: #fff;
  .custon-nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    > span {
      cursor: pointer;
      margin: auto 0.5rem;
      font-size: 3em;
      line-height: 1em;
      background-color: rgba(#000, 0.1);
      &:hover {
        background-color: rgba(#fff, 1);
      }
      > span {
        text-align: center;
        display: block;
        width: 28px;
        height: 56px;
        line-height: 44px;
      }
    }
  }

  .owl-item {
    height: 100vh;
    &.active {
      h1,
      .titles {
        animation: 1s 0.5s fadeInDown both;
        text-transform: uppercase;
        margin-left: 5em;
      }
      .descriptions {
        animation: 1s 0.6s fadeInUp both;
        margin-left: 6em;
      }
      .btns {
        animation: 1s 0.9s flipInX both;
      }
      .item {
        height: 100%;
        background-position: center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
